@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0b0d12;
  color: #e6e9ef;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
}
